CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="4MB"
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_240=y

#CONFIG_ESP_WIFI_SOFTAP_SUPPORT=y
#CONFIG_ESP_WIFI_ESPNOW_MAX_ENCRYPT_NUM=2

#CONFIG_LWIP_IP_FORWARD=y
#CONFIG_LWIP_IPV4_NAPT=y
#CONFIG_LWIP_DHCPS_MAX_STATION_NUM=15

#CONFIG_BRIDGE_ENABLE=y
#CONFIG_BRIDGE_EXTERNAL_NETIF_STATION=y
#CONFIG_BRIDGE_DATA_FORWARDING_NETIF_SOFTAP=y

#CONFIG_BRIDGE_SOFTAP_MAX_CONNECT_NUMBER=15
